<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                    http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!--json映射对象-->
    <bean id="objectMapper" class="org.codehaus.jackson.map.ObjectMapper"></bean>

    <!--短信服务对象-->
    <bean id="msgService" class="com.dreamon.mall.service.MessageService">
        <constructor-arg name="accessKeyId" value="${msg.accessKeyId}"/>
        <constructor-arg name="accessKeySecret" value="${msg.accessKeySecret}"/>
        <constructor-arg name="defaultConnectTimeoutIndex" value="${msg.defaultConnectTimeoutIndex}"/>
        <constructor-arg name="defaultConnectTimeoutValue" value="${msg.defaultConnectTimeoutValue}"/>
        <constructor-arg name="defaultReadTimeoutIndex" value="${msg.defaultReadTimeoutIndex}"/>
        <constructor-arg name="defaultReadTimeoutValue" value="${msg.defaultReadTimeoutValue}"/>
        <constructor-arg name="domain" value="${msg.domain}"/>
        <constructor-arg name="product" value="${msg.product}"/>
        <constructor-arg name="msgName" value="${msg.msgName}"/>
        <constructor-arg name="templeteCode" value="${msg.templeteCode}"/>
        <constructor-arg name="contentName" value="${msg.contentName}"/>
    </bean>

    <!--验证码对象-->
    <bean id="idCodeService" class="com.dreamon.mall.service.IdCodeService">
        <constructor-arg name="idCodeLastTime" value="${ics.idCodeLastTime}"/>
        <constructor-arg name="idCodeLength" value="${ics.idCodeLength}"/>
        <constructor-arg name="idCodeType" value="${ics.idCodeType}"/>
    </bean>

    <!--随机数对象-->
    <bean id="numberService" class="com.dreamon.mall.service.NumberService">
        <constructor-arg name="numberLength" value="${ran.numberLength}"/>
        <constructor-arg name="numberModel" value="${ran.model.numberOnly}"/>
    </bean>

    <!--map实现的keyvalue容器-->
    <bean id="keyvaluemap" class="java.util.HashMap" />

    <!--缓存工厂-->
    <bean id="keyvaluefactory" class="com.dreamon.mall.cache.mapimpl.MapKeyValueFactory"/>

</beans>